header {
    height: 80px;
    width: 100%;
    background-color: orange;
    display: flex;
    justify-content: center;
}

.header_content {
    height: 80px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    flex: 1;
}

footer {
    height: 80px;
    width: 100%;
    background-color: orange;
    display: flex;
    justify-content: center;
}