header {
    height: 80px;
    width: 100%;
    background-color: orange;
    display: flex;
}

main {
    display: flex;
    flex: 1;
}

footer {
    height: 80px;
    width: 100%;
    background-color: orange;
    display: flex;
}