/* Header */
header {
    height: 120px;
    width: 100%;
    background-color: rgb(255, 115, 0);
    display: flex;
    justify-content: center;
}

.header_wrapper {
    max-width: 1920px;
    width: 100%;
}

.header_content {
    height: 120px;
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Main */
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.main_content {
    display: flex;
    width: 100%;
}

#pageContent {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#basketContent {
    display: flex;
    width: 420px;
}

/* Top Section */
#topSection {
    display: flex;
    flex-direction: column;
    height: 700px;
    margin-bottom: 60px;
}

.hero_img {
    background-image: url(/assets/imgs/hero.png);
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top_headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-100px);
}

.top_description {
    display: flex;
    align-items: center;
    gap: 8px;
}

.restaurant_logo {
    background-image: url(/assets/imgs/restaurantLogo.png);
    height: 200px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Menu Section */
.menuline_full {
    background-color: rgb(255, 115, 0);
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.menuline_wrapper {
    max-width: 1920px;
    width: 100%;
}

.menuline_content {
    color: white;
    margin-left: 120px;
    margin-right: 120px;
    gap: 12px;
    height: 50px;
    display: flex;
    align-items: center;
}

.menu_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 80px;
    width: 100%;
}

.menu_wrapper {
    max-width: 1920px;
    width: 100%;
}

.dishes_container {
    background-color: rgb(253, 234, 220);
    height: 140px;
    max-width: 820px;
    border-radius: 16px;
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.dishes_content {
    height: 100%;
    width: 100%;
    padding-right: 12px;
    gap: 24px;
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
}

.dishes_text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.dishes_btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
    margin-top: 12px;
    margin-bottom: 12px;
}

/* Footer */
footer {
    height: 120px;
    width: 100%;
    background-color: rgb(255, 115, 0);
    display: flex;
    justify-content: center;
}

.footer_wrapper {
    max-width: 1920px;
    width: 100%;
}

.footer_content {
    height: 120px;
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}