/* Shopping Cart */
.basket {
    background-color: rgb(54, 53, 52);
    color: rgb(253, 234, 220);
    gap: 80px;
    padding-top: 40px;
    border-radius: 24px 0 0 24px;
    height: 800px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
}

.basket_img {
    height: 120px;
    width: 120px;
}

#products {
    max-height: 378px;
    min-height: 50px;
    width: 360px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 8px;
}

.basket_item {
    background-color: rgb(253, 234, 220);
    color: rgb(54, 53, 52);
    border-radius: 12px;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    margin-right: 8px;
}

#basket_item_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.amount_price_container {
    display: flex;
    justify-content: space-between;
}

.basket_quantity {
    display: flex;
    align-items: flex-start;
    gap: 2px;
}

.basket_button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

#basketSummary {
    width: 340px;
    text-align: start;
    color: white;
}

.sub_summary {
    display: flex;
    justify-content: space-between;
    margin-left: 8px;
    margin-right: 8px;
}

.summary {
    display: flex;
    justify-content: space-between;
    margin-left: 8px;
    margin-right: 8px;
}

.seperation_bar {
    height: 2px;
    width: 100%;
    background-color: white;
    margin-top: 8px;
    margin-bottom: 8px;
}

#buyButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    width: 340px;
    height: 60px;
    background-color: rgb(255, 115, 0);
    color: white;
    border-radius: 60px;
    margin-top: 24px;
    cursor: pointer;
}

/* Dialog */
#orderDialog {
    background-color: rgb(54, 53, 52);
    color: rgb(253, 234, 220);
    border: none;
    border-radius: 30px;
    width: 350px;
    height: 220px;
}

.dialog_image {
    height: 60px;
    width: 80px;
}

#closeDialogBtn {
    background-color: transparent;
    color: rgb(253, 234, 220);
    align-self: flex-end;
    border: none;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 16px;
    cursor: pointer;
}

.dialog_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.65);
}