@media (max-width: 1320px) {
    .header_content {
        margin-left: 60px;
        margin-right: 60px;
    }

    .menuline_content {
        margin-left: 60px;
        margin-right: 60px;
    }

    .dishes_container {
        margin-left: 30px;
        margin-right: 30px;
    }

    .footer_content {
        margin-left: 60px;
        margin-right: 60px;
    }
}

/* Laptop */
@media (max-width: 1120px) {
    h2 {
        font-size: 28px;
    }

    h4 {
        font-size: 18px;
        line-height: 20px;
    }

    h5 {
        font-size: 18px;
        line-height: 20px;
    }

    p {
        font-size: 14px;
        line-height: 16px;
    }

    .dishes_container {
        height: 100px;
        min-width: 140px;
    }

    .menu_images {
        height: 80px;
        width: 160px;
    }

    .dishes_content {
        gap: 4px;
    }

    #basketContent {
        width: 210px;
    }

    #products {
        width: 180px;
        margin-left: 8px;
        margin-right: 8px;
        gap: 4px;
    }

    #basketSummary {
        width: 170px;
    }

    #buyButton {
        width: 170px;
        font-size: 16px;
    }
}

/* Table & Mobile */
@media (max-width: 800px) {

    /* Header */
    header {
        height: 80px;
    }

    .header_content {
        height: 80px;
        justify-content: flex-start;
        margin-left: 30px;
    }

    .burger_menu {
        display: none;
    }

    /* Top Section */
    h1 {
        font-size: 40px;
    }

    .hero_img {
        width: auto;
        margin: 12px;
        border-radius: 12px;
    }

    .restaurant_logo {
        height: 150px;
        width: 150px;
    }

    .top_headline {
        text-align: center;
        transform: translateY(-80px);
        margin-left: 12px;
        margin-right: 12px;
    }

    .top_description {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 20px;
    }

    /* Main */

    .pc_text {
        display: none;
    }

    .mobile_text {
        display: inline;
    }

    .menuline_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
        gap: 0;
        height: 60px;
        transform: translateY(-60px);
    }

    .menu_icon {
        height: 60px;
        width: 60px;
        transform: translateY(10px);
    }

    .menu_content {
        box-sizing: border-box;
        padding: 0 12px;
    }

    .menu_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .dishes_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 320px;
        width: 100%;
        height: fit-content;
        margin: 0;
        box-sizing: border-box;
        padding: 12px 12px;
    }

    .menu_images {
        width: 100%;
        margin-left: 0;
        object-fit: cover;
        object-position: center;
        border-radius: 12px;
    }

    .dishes_content {
        display: flex;
        flex-direction: column;
        justify-content: unset;
        gap: 20px;
        padding: 0;
    }

    .dishes_text {
        margin: 0;
    }

    .dishes_btn {
        margin: 0;
        display: flex;
        flex-direction: row;
    }

    /* Footer */
    footer {
        height: 140px;
    }

    .footer_content {
        height: 140px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .link1 {
        order: 3;
    }

    .link2 {
        order: 1;
    }

    .link3 {
        order: 2;
    }

    /* Navi */
    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgb(54, 53, 52);
        height: 60px;
        position: sticky;
        bottom: 0;
    }

    .navi_button {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .basket_badge {
        position: absolute;
        top: 8px;
        right: 85px;
        background: rgb(253, 234, 220);
        color: rgb(255, 115, 0);
        font-size: 12px;
        font-weight: bold;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        display: none;
        align-items: center;
        justify-content: center;
    }

    /* Responsive Menu */
    #basketOverlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 60px;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        pointer-events: none;

        transition: opacity 0.5s ease;
        z-index: 900;
    }

    #basketOverlay.active {
        opacity: 1;
    }

    #basketContent {
        position: fixed;
        bottom: 85px;
        left: 50%;
        max-width: calc(100% - 36px);
        width: 420px;
        height: 85vh;
        border-radius: 24px 24px 0 0;
        z-index: 1000;

        transform: translate(-50%, 120%);
        transition: transform 0.5s ease-in;
    }

    #basketContent.open {
        transform: translate(-50%, 0);
    }

    #basketContent::backdrop {
        background-color: rgba(0, 0, 0, 0.65);
    }

    .basket {
        border-radius: 24px 24px 0 0;
    }

    #products {
        max-width: calc(100% - 60px);
        width: 360px;
        margin-left: 24px;
        margin-right: 24px;
        gap: 8px;
    }

    #basketSummary {
        max-width: calc(100% - 60px);
        width: 340px;
    }

    #buyButton {
        max-width: 340px;
        width: 100%;
        font-size: 24px;
    }
}