body {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'palanquin', sans-serif;
}

h1 {
    margin: 0;
    font-size: 48px;
}

h2 {
    margin: 0;
    font-size: 40px;
}

h3 {
    margin: 0;
    font-size: 32px;
}

h4 {
    margin: 0;
    font-size: 24px;
    line-height: 28px;
}

h5 {
    margin: 0;
    font-size: 22px;
    line-height: 26px;
}

p {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
}

a {
    color: white;
    text-decoration: none;
    display: inline-block;
}

button {
    padding: 0;
}

.d_none {
    display: none;
}